[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Logan McAnsh
	email = logan@mcan.sh
	signingkey = D01F199AC33D163F
[push]
	default = simple
[alias]
	# show last commit's sha
	sha = rev-parse HEAD
	co = checkout
	cm = "commit -sm"
	p = push
	# add and commit untracked files
	a = "add -A"
	s = status
	# remove file from git
	remove = "rm -r --cached"
	d = diff
	fix = "commit --fixup"
	unstage = "reset --"

	# list these aliases
	la = "!git config -l | grep alias | cut -c 7-"

	# shows files in current repo?
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat

	# displays commits of current repo
	ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative

	# shows every branch's last commit absolute date
	b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
[help]
	autocorrect = 0
[credential]
	helper = store
[commit]
	gpgsign = true
[gpg]
	program = gpg
[core]
	excludesfile = /Users/loganmcansh/.gitignore_global
	editor = code-insiders --wait
[hub]
	protocol = ssh
[color]
  pager = true
  ui = auto
  status = auto
  diff = auto
  branch = auto
  showBranch = auto
  interactive = auto
  grep = auto
