//npm.pkg.github.com/:_authToken=${GITHUB_REGISTRY_TOKEN}
//registry.npmjs.org/:_authToken=${NPM_REGISTRY_TOKEN}
//npm.remix.run/:_authToken=${REMIX_TOKEN}
message=%s
tag-version-prefix=
init-author-name=Logan McAnsh
init-author-email=logan@mcan.sh
init-author-url=https://mcan.sh
init-version=0.1.0
init-license=MIT
sign-git-commit=true
sign-git-tag=true
legacy-peer-deps=true
