@mcansh:registry=https://npm.pkg.github.com
@remix-run:registry=https://npm.remix.run
//npm.pkg.github.com/:_authToken=${GITHUB_REGISTRY_TOKEN}
//registry.npmjs.org/:_authToken=${NPM_REGISTRY_TOKEN}
//npm.remix.run/:_authToken=${REMIX_REGISTRY_TOKEN}
save-exact=true
save-prefix=
version-git-message=%s
version-tag-prefix=
init-author-name=Logan McAnsh
init-author-email=logan@mcan.sh
init-author-url=https://mcan.sh/
init-version=1.0.0
init-license=MIT
scripts-prepend-node-path=true
tag-version-prefix=""
