font-family = Berkeley Mono Variable
window-padding-x = 10
window-padding-y = 4
window-colorspace = display-p3
background-opacity = 0.9
background-blur-radius = 20
window-height = 25
window-width = 80
mouse-hide-while-typing = true
# macos-titlebar-style = native
window-inherit-working-directory = false
