# shortcuts
alias g="git"
alias ga="git add -A"
alias gp="git push"
alias gc="git commit -sam"
alias projects="cd Dropbox\ \(Personal\)/Sites/"


# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"


# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"


# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias appflush="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"


# software updates becuase laziness
alias update="softwareupdate -iav"

# update everything
alias updateall='sudo softwareupdate -i -a; brew update; brew upgrade --all; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update' 


# Merge PDF files
# Usage: "mergepdf -o output.pdf input{1,2,3}.pdf"
alias mergepdf="/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py"


# alias for aliases
alias alias='ln -s'
