# Did you know that double quotes actually make a difference here?
# Well I found that double quote meant the terminal executed some
# commands on launch

# git shortcuts
alias g='git'
alias ga='git add'
alias gaa='git add -A'
alias gcl='git clone'
alias gcl-submodules='git clone --recursive' # clone a repo with submodules
alias gimme-submodules='git submodule update --init --recursive' # when you already cloned the repo and need the submodules
alias gs='git s'
alias gp='git push'
alias gpf='git push -f'
alias gc='git commit -sm'
alias gl='g ld'
alias gpu='git pull'
alias gd='git diff'
alias gdd='git diff --staged'
alias gco='git checkout'
alias gh='git open'
alias gt='git tag'

alias o='open .'

# fuck ruby <3
alias b='bundle exec'

# fix commit messages
alias fixthatfuckingcommit='git commit --amend -sam'

# remap atom commands to atom-beta
alias apm='apm-beta'
alias atom='atom-beta .'
alias a='atom'
alias code='code-insiders .'
alias c='code'

alias showAllFiles='defaults write com.apple.finder AppleShowAllFiles YES && killall Finder'
alias hideAllFiles='defaults write com.apple.finder AppleShowAllFiles NO && killall Finder'

# start a local server
alias server='python -m SimpleHTTPServer'

# keep a log of installed atom packages
alias atomlist='apm list --installed --bare > ~/.homesick/repos/dotfiles/atom-list.txt'

# install the packages in that log
alias atominstall='apm install --packages-file ~/.homesick/repos/dotfiles/atom-list.txt'

# keep a log of installed brew files
alias brewfile='brew bundle dump --force; mv brewfile ~/.homesick/repos/dotfiles/Brewfile'

alias brewup='brew update && brew doctor && brew outdated && brew upgrade && brew cleanup'

# stuff to do when backing up
alias backupdotfiles='atomlist && brewfile'

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop='defaults write com.apple.finder CreateDesktop -bool false && killall Finder'
alias showdesktop='defaults write com.apple.finder CreateDesktop -bool true && killall Finder'

# Lock the screen (when going AFK)
alias afk='/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend'

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias appflush='/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder'

# software updates
alias update='softwareupdate -ia --verbose'

# update ruby gems
alias gemupdate='gem update ~/.gem'

# update everything
alias updateall='brewup  && gemupdate'

# alias for making symlinks (alias)
alias makethisgohere='ln -s'

# make list actually list all
alias ls='ls -a'

# update gems in gemfile
alias bup='bundle update'

# maintenance scripts
alias maintenance='sudo periodic daily weekly monthly'

# slack emoji magic
alias slackmoji='sips -Z 128 $1'

# gifify 60fps
alias gifify60='gifify -r 60 $1'

# add space to dock
alias space='defaults write com.apple.dock persistent-apps -array-add "{'tile-type'='spacer-tile';}"; killall Dock'

# clone repo, cd into it, fork it on github (if its a github repo), and open it in atom
# requires https://hub.github.com for forking and cloning (in the fashion that I am)
alias cloneOpen='f() {
  urls=('github.com' 'bitbucket.org' 'gitlab.com')
  url=$1
  for i in "${urls[@]}"
  do
    if [[ $url =~ $i ]]
    then
      if [[ $url =~ 'http://' || $url =~ 'https://' ]]
      then
        userRepo=${url#*://$i/}
      elif [[ $url =~ 'git@' ]]
      then
        userRepo=${url#*@$i:}
      fi
      repo=${userRepo#*/}
      repo_no_ext=$(basename ${repo#*/} .git)

      if [[ $url =~ 'github.com' ]]
      then
        if [[ ${userRepo:0:17} = "learn-co-students" ]]
        then
          git clone $url && cd $repo_no_ext && git fork && git remote remove origin && git remote rename mcansh origin && atom .
        else
          git clone $url && cd $repo_no_ext && git fork && atom .
        fi
      else
        git clone $url && cd $repo_no_ext && atom .
      fi
    fi
  done
};f'

alias please='sudo $(fc -ln -1)'

alias addESLint='cp ~/.eslintrc.js ./ && yarn add --dev eslint eslint-config-airbnb-base eslint-plugin-import'
alias addNextJSESLint='cp ~/.eslintrc-nextjs ./.eslintrc.js && yarn add --dev eslint eslint-config-airbnb eslint-plugin-import eslint-plugin-jsx-a11y eslint-plugin-react'

alias fix-zsh-permissions='sudo chown -R logansmcansh:staff .oh-my-zsh .zs .zsh*'


alias yarn-upgrade='yarn upgrade-interactive'
alias yarn-global-upgrade='yarn global upgrade-interactive'
