# git shortcuts
alias g="git"
alias ga="git add -A"
alias gcl="git clone"
alias gs="git s"
alias gp="git push"
alias gpf="git push -f"
alias gc="git commit -sam"
alias gpu="git pull"
alias gd="git diff"
alias gdd="git diff --staged"
alias gco="git checkout"

# fuck bundler
alias be="bundle exec"

# fix commit messages
alias fixthatfuckingcommit="git commit --amend -sam"

# use the learn bash and cd into my Learn folder
alias youregonnalearntoday="cd ~/learn; source ~/.flatiron_bash"

# atom beta > atom
alias a="atom"
alias atom="atom-beta ."

# apm beta > api
alias apm='apm-beta'

# start a simple server
alias server='python -m SimpleHTTPServer'

# keep a log of installed atom packages
alias atomlist='apm list --installed --bare > ~/.homesick/repos/dotfiles/atom-list.txt'
# install the packages in that log
alias atominstall='apm install --packages-file ~/.homesick/repos/dotfiles/atom-list.txt'

# keep a log of installed brew files
alias brewfile="brew bundle dump --force; mv brewfile ~/.homesick/repos/dotfiles/Brewfile"

alias brewup="brew update && brew doctor && brew outdated && brew upgrade && brew cleanup"

# stuff to do when backing up
alias backupdotfiles='atomlist; brewfile'

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias appflush="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# software updates because laziness
alias update="softwareupdate -ia --verbose"

# update everything
alias updateall="brewup; sudo npm update -g; sudo gem update --system /usr/bin/update_rubygems; sudo gem update /usr/local/bin; update"

# Merge PDF files
# Usage: "mergepdf -o output.pdf input{1,2,3}.pdf"
alias mergepdf="/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py"

# alias for making symlinks (alias)
alias makethisgohere="ln -s"

# compress stuff
alias zip="zip -r"
alias tar="tar -jcvf"

# make list actually list all
alias ls="ls -a"

# install gems on El Capitan / Sierra
alias geminstall="sudo gem install -n /usr/local/bin"

# update gem quickly
alias bup="bundle up"

# maintenance scripts
alias maintenance="sudo periodic daily weekly monthly"

# slack emoji magic
alias slackmoji="sips -Z 128 $1"

# add space to dock
alias space="defaults write com.apple.dock persistent-apps -array-add '{"tile-type"="spacer-tile";}'; killall Dock"

# clone repo, cd into it, fork it on github, and open it in atom
# requires https://hub.github.com/
alias cloneOpen='f() {
  if [[ $# == 1 && $1 == *"//github.com/"* ]]
  then
    echo "feature coming soon"
  elif [[ $# == 2 ]]
  then
    git clone "$1/$2" &&
    cd $2 &&
    git fork $2
    atom
  else
    git clone $1 &&
    cd $1 &&
    git fork $1 &&
    atom
  fi
};f'
