[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = Logan McAnsh
	email = logan@mcan.sh
	signingkey = D01F199AC33D163F
[push]
	default = simple
[color]
	ui = 1
[alias]
	# add and commit untracked files
	sha = rev-parse HEAD
	co = checkout
	cm = "commit -sam"
	p = push
	a = "add -A"
	s = status
	remove = "rm -r --cached ."
	d = diff

	# list aliases
	la = "!git config -l | grep alias | cut -c 7-"

	# shows files in current repo?
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat

	# displays commits of current repo
	ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative

	# shows every branch's last commit absolute date
	b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"

[help]
	autocorrect = 0
[credential]
	helper = store
[commit]
	gpgsign = true
[gpg]
	program = gpg
[core]
	excludesfile = /Users/loganmcansh/.gitignore_global
	editor = atom --wait
[hub]
	protocol = ssh
