[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = Logan McAnsh
	email = l.m@loganmcansh.com
	signingkey = 56CE567FB897A796
[push]
	default = simple
[color]
	ui = 1
[alias]
	# add and commit untracked files
	co = checkout
	cm = "commit -sam"
	p = push
	a = "add -A"
	s = status
	remove = "rm --cached -r"
	d = diff

	# list aliases
	la = "!git config -l | grep alias | cut -c 7-"

	# shows files in current repo?
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat

	# displays commits of current repo
	ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative

	# shows current branch's last commit with absolute date
	b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

[help]
	autocorrect = 0
[credential]
	helper = store
[commit]
	gpgsign = true
[init]
	templatedir = /Users/loganmcansh/.git_template/
[gpg]
	program = gpg2
