"*":
  "atom-beautify":
    general:
      _analyticsUserId: "a3f27696-0ef6-42cb-a42f-e3aa394ac295"
  "atom-material-ui":
    fonts:
      useRoboto: true
      useRobotoInUI: true
    panels:
      depth: true
      panelContrast: true
    tabs:
      rippleAccentColor: true
      tabSize: "Small"
    treeView: {}
    ui:
      slimScrollbar: true
  "autocomplete-plus": {}
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "snippets-jade"
      "atom-bourbon-snippets"
      "emmet"
    ]
    ignoredNames: [
      ".git"
      ".DS_Store"
      ".sass-cache"
      "config.codekit"
      "._DS_Store"
      "._*"
    ]
    projectHome: "/Users/loganmcansh/iCloud/GitHub"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "dracula-theme"
    ]
    useCustomTitleBar: true
  editor:
    backUpBeforeSaving: true
    fontFamily: "SFMono-Regular"
    fontSize: 19
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "1a3d270b-cff2-90b9-feb3-8ababdfe3d4e"
  "integrated-learn-environment":
    oauthToken: "75c7904cf74ad5de1452b366465027fef82ac730150a12f850e191f9e2fc6dfc"
    vm_port: 9561
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
  nuclide:
    "nuclide-adb-logcat": {}
    "nuclide-arcanist": {}
    "nuclide-buck": {}
    "nuclide-clang": {}
    "nuclide-console": {}
    "nuclide-datatip": {}
    "nuclide-debugger-native": {}
    "nuclide-debugger-node": {}
    "nuclide-debugger-php": {}
    "nuclide-definition-preview": {}
    "nuclide-flow": {}
    "nuclide-hack": {}
    "nuclide-health": {}
    "nuclide-ios-simulator-logs": {}
    "nuclide-ocaml": {}
    "nuclide-python": {}
    "nuclide-react-native": {}
    "nuclide-related-files": {}
    "nuclide-remote-projects": {}
    "nuclide-swift": {}
  "one-dark-ui":
    layoutMode: "Compact"
    tabSizing: "Even"
  "one-light-ui":
    layoutMode: "Compact"
    tabSizing: "Even"
  pigments:
    extendAutocompleteToVariables: true
    markerType: "dot"
    mergeColorDuplicates: true
  "pristine-ui":
    layoutMode: "Compact"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace: {}
".sass.source":
  editor:
    autoIndentOnPaste: false
