packages: [
  "atom-beautify"
  "atom-jade"
  "autoclose-html"
  "chester-atom-syntax"
  "civic-syntax"
  "double-tag"
  "file-icons"
  "itg-dark-syntax"
  "jade-snippets"
  "language-pug"
  "minimap"
  "minimap-cursorline"
  "multi-cursor"
  "package-sync"
  "pigments"
  "snippets-jade"
  "sort-lines"
]
